email=devopstrainingblr@gmail.com
npm login --registry=http://43.204.219.245:8081/mithuntechnologies/repository/mss-nodejs-repo/
username=admin
password=Rohanghodke
#always-auth=true
registry.npmjs.org/:_auth=YWRtaW46Um9oYW5naG9ka2U=
allowRepublish=true
